@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*this allows us to use rem... 1 rem = 10px to covert 10px to percentage 10/16= 62.5%*/ }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: #777;
  color: #1d4354;
  padding: 3rem;
  /*Apply padding around the page*/
  box-sizing: border-box; }

.heading--primary {
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 6rem; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 2.5rem;
  animation-name: moveInLeft;
  /*Create animation to the heading text*/
  animation-duration: 3s;
  animation-timing-function: ease-in-out; }

/*
ANIMATION PROPERTIES
animation-delay: 3s;
animation-iteration-count:3;

*/
.heading-primary--sub {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  animation: moveInRight 3s ease-in-out;
  /*Shorthand way of writing this property*/ }

.heading-primary--sub1 {
  display: block;
  font-size: 2.2rem;
  font-weight: 100;
  letter-spacing: 0.12rem;
  width: 70%;
  margin-top: 2rem;
  animation: moveInUp 3s ease-in-out; }

.heading-primary--sub2 {
  display: block;
  font-size: 1.9rem;
  font-weight: 400;
  letter-spacing: 0.12rem;
  width: 70%;
  animation: moveInUp 3s ease-in-out;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 6rem; }

/* Anmimated Button */
/* End of Anmimated Button */
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #439bc4, #1d4354);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 1s ease-in-out; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }
  .heading-secondary-paragraph {
    width: 75%;
    margin: 0 auto; }

.heading-tertiary {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #dd8407; }

.paragraph {
  font-size: 1.9rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-sml {
  margin-bottom: 1rem; }

.u-margin-bottom-med {
  margin-bottom: 4rem; }

.u-margin-bottom-lg {
  margin-bottom: 8rem; }

.u-margin-top-lg {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.section-features {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-benefits {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(29, 67, 84, 0.8), rgba(67, 155, 196, 0.8)), url(../img/lady-laughing.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12rem; }
  .section-benefits > * {
    transform: skewY(7deg); }

.section-clients {
  background-color: #f7f7f7;
  padding: 25rem 0 20rem 0;
  margin-top: -15vh; }

.section-stories {
  position: relative;
  padding: 15rem 0; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  /* This allows the btn to use margin top*/
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.9rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #dd8407;
  color: #fff; }
  .btn--white::after {
    background-color: #dd8407; }

.btn--green {
  background-color: #1d4354;
  color: #fff; }
  .btn--green::after {
    background-color: #dd8407; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  /* Reference to the parent element btn:link,btn:visited*/
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.9rem;
  color: #1d4354;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1d4354;
  padding: 10px;
  transition: all 0.5s; }

.btn-text:hover {
  background-color: #1d4354;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 80%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0 0 30px;
    position: absolute;
    z-index: 10;
    transition: all 0.8s;
    outline-offset: 1.5rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem;
      transform: rotate(-20deg); }
    .composition__photo--p2 {
      right: 0;
      top: 9rem;
      transform: rotate(0deg); }
    .composition__photo--p3 {
      left: 10%;
      top: 15rem;
      transform: rotate(20deg); }
    .composition__photo:hover {
      outline: 1rem solid #1d4354;
      transform: scale(1.25) translateY(-0.5rem) rotate(0deg);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 20; }
  .composition:hover__photo:not(:hover) {
    transform: scale(0.2); }

.benefit-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.9rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 50px 0px;
  box-shadow: 0 1.5rem 4rem rbga(#000, 0.5);
  transition: transform 0.3s ease-in-out;
  outline-offset: 0.9rem; }
  .benefit-box__icon {
    font-size: 8.5rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #439bc4, #1d4354);
    -webkit-background-clip: text;
    color: transparent; }
  .benefit-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
    outline: 0.5rem solid #dd8407; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 60rem; }
  .card__side {
    height: 60rem;
    transition: all 1.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 50px 0px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #98d685, #4d8d66); }
      .card__side--back-4 {
        background-image: linear-gradient(to right bottom, #d1585c, #df1a22); }
      .card__side--back-5 {
        background-image: linear-gradient(to right bottom, #00af91, #007965); }
      .card__side--back-6 {
        background-image: linear-gradient(to right bottom, #e97e5a, #ff4000); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: url(../img/cruiseline.jpg), linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__picture--2 {
      background-image: url(../img/home-improvement.jpeg), linear-gradient(to right bottom, #2998ff, #5643fa); }
    .card__picture--3 {
      background-image: url(../img/medical.jpg), linear-gradient(to right bottom, #98d685, #4d8d66); }
    .card__picture--4 {
      background-image: url(../img/cable-tv.jpg), linear-gradient(to right bottom, #d1585c, #df1a22); }
    .card__picture--5 {
      background-image: url(../img/accountant.jpg), linear-gradient(to right bottom, #00af91, #007965); }
    .card__picture--6 {
      background-image: url(../img/fitness-1.jpg), linear-gradient(to right bottom, #e97e5a, #ff4000); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 16rem;
    right: 0rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, #ffb900, rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, #2998ff, rgba(86, 67, 250, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, #98d685, rgba(77, 141, 102, 0.85)); }
    .card__heading-span--4 {
      background-image: linear-gradient(to right bottom, #d1585c, rgba(223, 26, 34, 0.85)); }
    .card__heading-span--5 {
      background-image: linear-gradient(to right bottom, #00af91, rgba(0, 121, 101, 0.85)); }
    .card__heading-span--6 {
      background-image: linear-gradient(to right bottom, #e97e5a, rgba(255, 64, 0, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 95%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 95%; }
  .card__info {
    text-align: center;
    color: #fff; }
  .card__info-title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 300; }
  .card__info-description {
    font-size: 1.6rem;
    margin-bottom: 3.2rem; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.9rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: blue;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12.01deg);
    position: relative; }
  .story__img {
    height: 100%;
    transition: all 0.5s;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(70%); }

.row {
  max-width: 114rem;
  margin: 0 auto;
  /*selectors (ref line 21)

^ - selects the start of a class attribute example below, all the class attributes starts with "col"
* - select any class that contain the word "col"
$ - any class that ends with "col-"

*/ }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(29, 67, 84, 0.8), rgba(67, 155, 196, 0.8)), url(../img/mother-5609202_1920.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* Parent Element related to text-box*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 5.5rem; }
  .header__text-box {
    position: absolute;
    top: 30%;
    /* This is in relation to the parent element*/
    left: 10%;
    transform: translate(-50% -50%); }

.header__logo:hover {
  animation: moveInRight 3s ease-in-out;
  /*Logo animation on hover*/ }
