// Colors

$color-primary: #1d4354;
$color-primary-light: #439bc4;
$color-secondary: #dd8407;

$color-secondary-light: #ffb900; //card # 1
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff; //card # 2
$color-tertiary-dark: #5643fa;

$color-card-1: #98d685;
$color-card-2: #4d8d66;

$color-card-3: #d1585c;
$color-card-4: #df1a22;

$color-card-5: #00af91;
$color-card-6: #007965;

$color-card-7: #e97e5a;
$color-card-8: #ff4000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.9rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
