// Client Oppotunities Now Available Section
.card {
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	height: 60rem; //increase height of card + line 9

	&__side {
		height: 60rem;
		transition: all 1.5s ease-in-out;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		backface-visibility: hidden;
		border-radius: 50px 0px;
		overflow: hidden;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

		&--front {
			background-color: $color-white;
		}

		&--back {
			transform: rotateY(180deg); //test

			&-1 {
				background-image: linear-gradient(
					to right bottom,
					$color-secondary-light,
					$color-secondary-dark
				);
			}

			&-2 {
				background-image: linear-gradient(
					to right bottom,
					$color-tertiary-light,
					$color-tertiary-dark
				);
			}

			&-3 {
				background-image: linear-gradient(
					to right bottom,
					$color-card-1,
					$color-card-2
				);
			}

			&-4 {
				background-image: linear-gradient(
					to right bottom,
					$color-card-3,
					$color-card-4
				);
			}

			&-5 {
				background-image: linear-gradient(
					to right bottom,
					$color-card-5,
					$color-card-6
				);
			}

			&-6 {
				background-image: linear-gradient(
					to right bottom,
					$color-card-7,
					$color-card-8
				);
			}
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg); //this roates card
	}

	&:hover &__side--back {
		transform: rotateY(0);
	}

	//Card front styling

	&__picture {
		background-size: cover;
		height: 23rem;
		background-blend-mode: screen;
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

		&--1 {
			background-image: url(../img/cruiseline.jpg),
				linear-gradient(
					to right bottom,
					$color-secondary-light,
					$color-secondary-dark
				);
		}

		&--2 {
			background-image: url(../img/home-improvement.jpeg),
				linear-gradient(
					to right bottom,
					$color-tertiary-light,
					$color-tertiary-dark
				);
		}

		&--3 {
			background-image: url(../img/medical.jpg),
				linear-gradient(to right bottom, $color-card-1, $color-card-2);
		}

		&--4 {
			background-image: url(../img/cable-tv.jpg),
				linear-gradient(to right bottom, $color-card-3, $color-card-4);
		}

		&--5 {
			background-image: url(../img/accountant.jpg),
				linear-gradient(to right bottom, $color-card-5, $color-card-6);
		}

		&--6 {
			background-image: url(../img/fitness-1.jpg),
				linear-gradient(to right bottom, $color-card-7, $color-card-8);
		}
	}

	&__heading {
		font-size: 2.5rem;
		font-weight: 300;
		text-transform: uppercase;
		text-align: right;
		color: $color-white;
		position: absolute;
		top: 16rem;
		right: 0rem; //this property controls the position of the cards heading
		width: 75%;

		&-2 {
			text-align: center;
			font-weight: 400;
			text-transform: uppercase;
			margin-bottom: 1.5rem;
		}
	}

	&__heading-span {
		padding: 1rem 1.5rem;
		box-decoration-break: clone;
		-webkit-box-decoration-break: clone;
		&--1 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-secondary-light, 1),
				rgba($color-secondary-dark, 0.85)
			);
		}

		&--2 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-tertiary-light, 1),
				rgba($color-tertiary-dark, 0.85)
			);
		}

		&--3 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-card-1, 1),
				rgba($color-card-2, 0.85)
			);
		}

		&--4 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-card-3, 1),
				rgba($color-card-4, 0.85)
			);
		}

		&--5 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-card-5, 1),
				rgba($color-card-6, 0.85)
			);
		}

		&--6 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-card-7, 1),
				rgba($color-card-8, 0.85)
			);
		}
	}

	&__details {
		&-2 {
			text-align: center;
			font-weight: 400;
		}
		padding: 3rem;
		ul {
			list-style: none;
			width: 95%;
			margin: 0 auto;

			li {
				text-align: center;
				font-size: 1.5rem;
				padding: 1rem;

				&:not(:last-child) {
					border-bottom: 1px solid $color-grey-light-2;
				}
			}
		}
	}

	//Front Styling

	&__cta {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 100%;
	}

	&__info {
		text-align: center;
		color: $color-white;
	}

	&__info-title {
		text-transform: uppercase;
		margin-bottom: 2rem;
		text-align: center;
		font-weight: 300;
	}

	&__info-description {
		font-size: 1.6rem;
		margin-bottom: 3.2rem;
		padding: 0 2rem; //padding of description
	}

	// Media ***********************

	@include respond(tab-port) {
		height: auto; //increase height of card + line 9
		background-color: $color-white;
		width: 100%;

		&__side {
			height: 65rem;
			transition: all 1.5s ease-in-out;
			position: relative;
			box-shadow: none;
			border-radius: 0;
			width: 100%;
			margin: 0 auto;

			&--front {
				background-color: $color-white;
				height: 65rem;
			}

			&--back {
				transform: rotateY(0);
				height: 40rem;
				clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
				margin-top: -10rem;
				border-radius: 0;
			}
		}

		&:hover &__side--front {
			transform: rotateY(0); //this roates card
		}

		//Card front styling

		//Front Styling

		&__cta {
			position: relative;
			top: 0%;
			left: 0%;
			transform: translate(0);
			text-align: center;
			width: 100%;

			a {
				visibility: hidden;
			}
		}

		&__info {
			text-align: left;
			color: $color-white;
			margin: 0;
		}

		&__info-title {
			text-transform: uppercase;
			// margin-bottom: 2rem;
			text-align: center;
			font-weight: 300;
			visibility: hidden;
		}

		&__info-description {
			font-size: 1.9rem;
			padding: 0 2rem;
		}
	}

	// PHONE MEDIA QUERY

	@include respond(phone) {
		height: auto; //increase height of card + line 9
		background-color: $color-white;

		&__side {
			height: 90rem; //controls the height of the listed section
			transition: all 1.5s ease-in-out;
			position: relative;
			// border-radius: 15px;

			&--front {
				background-color: $color-white;
				height: 95rem;
			}

			&--back {
				&--back {
					transform: rotateY(0);
					height: 10rem;
					clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
					margin-top: -5rem;
					border-radius: 0;
				}
			}
		}

		&:hover &__side--front {
			transform: rotateY(0); //this roates card
		}

		//Card front styling

		//Front Styling

		&__cta {
			position: relative;
			top: 0%;
			left: 0%;
			transform: translate(0);
			text-align: center;

			a {
				visibility: hidden;
			}
		}

		&__info {
			text-align: left;
			color: $color-white;
			margin: 0;
			padding-top: 5rem;
		}

		&__info-description {
			font-size: 2.9rem;
			// padding: 0 5rem;
			text-align: center;
		}

		&__details {
			padding: 0.5rem;
			margin-top: 5rem;
			&-2 {
				text-align: center;
				font-weight: 400;
				height: 10rem;
			}

			ul {
				list-style: none;
				width: 100%;
				margin: 0 auto;

				li {
					text-align: center;
					font-size: 2.7rem;

					&:not(:last-child) {
						border-bottom: 1px solid $color-grey-light-2;
					}
				}
			}
		}
	}
}
