// Feature Section - Images

.composition {
	position: relative;

	&__photo {
		width: 80%;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
		border-radius: 0 0 30px;
		position: absolute;
		z-index: 10;
		transition: all 0.8s;
		outline-offset: 1.5rem; // border spacing around the images

		@include respond(tab-port) {
			float: left;
			position: relative;
			width: 85%;
			box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
			text-align: center;
		}

		@include respond(phone) {
			float: left;
			position: relative;
			width: 75%;
			box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
			text-align: center;
		}

		&--p1 {
			left: 2.5rem;
			top: -3rem;
			transform: rotate(-10deg);

			@include respond(tab-port) {
				top: 1rem;
				left: 4.5rem;
				transform: rotate(0deg);
				border-radius: 1px;
				transform: scale(1.2);
			}

			@include respond(phone) {
				top: 1rem;
				left: 6.5rem;
				transform: rotate(0deg);
				border-radius: 1px;
				transform: scale(1.2);
			}
		}

		&--p2 {
			left: 4.8rem;
			top: 12rem;
			transform: rotate(-7deg);

			@include respond(tab-port) {
				left: 4.5rem;
				top: -5rem;
				border-radius: 1px;
				transform: scale(1);

				// visibility: hidden;
			}

			@include respond(phone) {
				top: 1rem;
				left: 6.5rem;
				transform: rotate(0deg);
				border-radius: 1px;
				transform: scale(1.2);
			}
		}

		&--p3 {
			left: 0%;
			top: 18rem;
			transform: rotate(10deg);

			@include respond(tab-port) {
				left: 4.5rem;
				top: -5rem;
				transform: rotate(0deg);
				border-radius: 1px;
				transform: scale(1.2);
				z-index: 1;

				@include respond(phone) {
					top: 1rem;
					left: 6.5rem;
					transform: rotate(0deg);
					border-radius: 1px;
					transform: scale(1.2);
				}

				// visibility: hidden;
			}
		}

		&:hover {
			outline: 1rem solid $color-primary;
			transform: scale(1.25) translateY(-0.5rem) rotate(0deg);
			box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
			z-index: 20;
		}
	}

	&:hover {
		&__photo:not(:hover) {
			transform: scale(0.2);
		}
	}
}
// End of Feature Section
