.u-center-text {
	text-align: center;
}

.u-margin-bottom-sml {
	margin-bottom: 1rem;
}

.u-margin-bottom-med {
	margin-bottom: 4rem;
}

.u-margin-bottom-lg {
	margin-bottom: 8rem;
}

.u-margin-top-lg {
	margin-top: 8rem;
}

.u-margin-top-huge {
	margin-top: 10rem;
}
