// The important keyword can be used in the utility class but preferably not within the css code

.u-center-text {
	text-align: center !important;
}

.u-margin-bottom-sml {
	margin-bottom: 1rem !important;
}

.u-margin-bottom-super-sml {
	margin-bottom: -20rem;
}

.u-margin-bottom-med {
	margin-bottom: 4rem !important;

	@include respond(tab-port) {
		margin-bottom: 3rem !important;
	}
}

.u-margin-bottom-lg {
	margin-bottom: 8rem !important;

	@include respond(tab-port) {
		margin-bottom: 5rem !important;
	}
}

.u-margin-top-lg {
	margin-top: 8rem !important;
}

.u-margin-top-med {
	margin-top: 6rem !important;
}

.u-margin-top-huge {
	margin-top: 10rem;
}
